@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de police de base */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}